html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing: border-box;
}
*:focus {outline:none}

body{
	margin: 0;
}
.b-popup{
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    vertical-align: middle;
	display: flex;
	align-items: center;
}
#coloredSlider .ui-slider-range { 
	background: #ff0000 !important; 
}
.mob-logo{
	display: none;
}
.b-popup-content{
    width: 100%;
    max-width: 992px;
    margin: 0 auto;
    background: url("img/green-back.png") no-repeat 0 0;
    background-position: center;
    position: relative;
}
#close-btn{
	position: absolute;
	width: 33px;
	height: 33px;
	right: 22px;
	top: 22px;
	cursor: pointer;
}
.top-name{
    margin-top: 15px;
    text-align: center;
    margin-bottom: 25px;
}
.top-name p{
    margin: 0;
    color: #fff;
    font-size: 24px;
}
.top-name p:first-child{
    color: #fff;
    font-size: 54px;
    font-weight: 600;
}
.top-name p:last-child{
    padding-top: 30px;
}
.block-form{
    width: 100%;
    max-width: 944px;
    background: url("img/form-bg.png") no-repeat 0 0;
    margin: 0 24px;
    height: 213px;
}
.summ-credit{
    margin: 0 44px;
}
.summ-credit p{
    color: #fff;
    font-size: 18px;
    padding: 20px 0;
    margin: 0;
}
.span-min-max-sum{
	display: flex;
	justify-content: space-between;
}
.summ-credit span{
	font-size: 14px;
	color: #fff;
}
/*.last-span{
	margin-left: 750px;
}*/
.ui-slider-handle:before {
	content: attr(data-value);
	padding-top: 14px;
	color: #000;
	position: relative;
	top: 37px;
	background: url(img/sum-output.png) no-repeat 0 0;
	width: 87px;
	height: 35px;
	text-align: center;
	display: inline-block;
	margin-left: -15px;
	left: 8px;
}
.ui-slider-handle:after{
	content: "";
	position: absolute;
	background: url("img/grn-icon.png") no-repeat 0 0;
	width: 8px;
	height: 12px;
	top: 53px;
}
.ui-slider-handle:focus {
	outline: none!important;
}
.cost-slider{
	margin-bottom: 12px;
}

.form{
    margin: 30px 44px;
}
.form form{
	display: flex;
	justify-content: space-between;
}
.form form input{
	border: none;
	width: 270px;
	padding: 20px 13px;
	font-size: 18px;
	border-radius: 12px;
}
.form form button{
	width: 241px;
	border-radius: 12px;
	border: none;
	font-size: 18px;
	background: #ffd300;
	cursor: pointer;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.5), inset 1px -3px 0px rgba(0,0,0,0.5);	
}
.how-to-block{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 15px;
}
.name-block{
	font-size: 26px;
	color: #fff;
}
.step-block{
	margin-top: 32px;
	display: flex;
	justify-content: center;
	position: relative;
}
.name-step{
	font-size: 19px;
	color: #fff;
	margin-bottom: 40px;
}
.step-itm:first-child{
	margin-right: 119px;
}
.step-itm:nth-child(2){
	margin-right: 103px;
}
.step-itm:first-child:before, .step-itm:nth-child(2):before{
	content: "";
	position: absolute;
	background: url("img/arr.png") no-repeat 0 0;
	background-size: 100%;
	width: 87px;
	height: 48px;
	top: 77px;
	left: 327px;
}
.step-itm:nth-child(2):before{
	left: 577px;
}
@media (max-width: 1000px){
	.b-popup-content{
		max-width: 890px;
	}
	#close-btn {
    	position: absolute;
    	width: 30px;
    	height: 30px;
    	right: 17px;
    	top: 10px;
	}
	.top-name{
		margin: 0 0 21px 0;
	}
	.top-name p:first-child{
		font-size: 40px;
	}
	.top-name p:last-child {
    	padding-top: 25px;
	}
	.top-name p {
    	margin: 0;
    	color: #fff;
    	font-size: 21px;
	}
	.block-form{
		max-width: 840px;
		margin: 0 auto;
		height: 198px;
	}
	.ui-slider-horizontal{
		height: 16px !important;
	}
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
		width: 32px !important;
		height: 32px !important;
	}
	.summ-credit p{
		padding: 17px 0;
		font-size: 20px;	
	}
	.ui-slider-handle:before{
		top: 28px;
	}
	.ui-slider-handle:after{
		top: 43px;
	}
	.form form{
		justify-content: space-around;
	}
	.form{
		margin-top: 30px;
	}
	.form form input{
		width: 230px;
    	padding: 13px 13px;
	}
	.how-to-block{
		margin-top: 22px;
	}
	.name-step{
		margin-bottom: 26px;
	}
	.step-itm:nth-child(1) .img-step img{
		width: 82px;
    	height: 95px;
	}
	.step-itm:nth-child(2) .img-step img{
		width: 94px;
    	height: 91px;
	}
	.step-itm:nth-child(3) .img-step img{
		width: 84px;
    	height: 91px;
	}
	.step-itm:first-child:before{
		top: 60px;
    	left: 268px;
	}
	.step-itm:nth-child(2):before{
		left: 535px;
    	top: 60px;
	}
}
@media (max-width: 840px){
	#close-btn{
		width: 24px;
		height: 24px;
	}
	.top-name p:first-child{
		font-size: 30px;
	}
	.top-name p:last-child{
		padding-top: 15px;
		font-size: 18px;
	}
	.block-form{
		width: 100%;
		margin: 20px 0;
		height: 181px;
	}
	.summ-credit p {
    	padding: 13px 0;
    	font-size: 17px;
	}
	.form {
    	margin: 31px 20px 0 20px;
	}
	.form form input{
		width: 210px;
	}
	.form form button{
		width: 210px;
	}
	.name-block{
		font-size: 23px;
	}
	.step-block{
		margin-top: 20px;
	}
	.step-itm:nth-child(1) .img-step img{
		width: 55px;
    	height: 69px;
	}
	.step-itm:nth-child(2) .img-step img{
		width: 70px;
		height: 69px;
	}
	.step-itm:nth-child(3) .img-step img{
		width: 66px;
		height: 74px;
	}
	.step-itm:first-child{
		margin-right: 60px;
	}
	.step-itm:nth-child(2){
		margin-right: 60px;
	}
	.step-itm:first-child:before, .step-itm:nth-child(2):before{
		display: none;
	}
}
@media (max-width: 680px){
	#close-btn{
		display: none;
	}
	.b-popup{
		background: url(img/green-back.png) no-repeat 0 0;
		background-repeat:no-repeat; 
		align-items: end;
		background-position: top;
		overflow: scroll;
	}
	.b-popup-content{
		padding: 9px 6px 0 6px;
		background: none;
	}
	.mob-logo{
		display: block;
		width: 150px;
		height: 34px;
		margin: 0 auto;
	}
	.mob-logo img{
		width: 100%;
		height: 100%;
	}
	.top-name{
		margin-top: 17px;
		text-align: left;
	}
	.top-name p:first-child{
		margin-bottom: 20px;
	}
	.top-name p:last-child{
		padding-top: 0;
	}
	.block-form{
		height: 100%;
		background-repeat: repeat;
    	padding: 0 0 19px 0;
	}
	.summ-credit{
		margin: 0 30px;
	}
	.ui-slider-handle:before{
		padding-top: 11px;
		width: 70px;
    	background-size: 70px;
	}
	.ui-slider-handle:after {
    	top: 39px;
	}
	.form form{
		flex-direction: column;
	}
	.form form input, .form form button{
		margin: 0 auto;
		width: 100%;
		padding: 13px 13px;
	}
	.form form input{
		margin-bottom: 15px;
	}
	.name-block{
		font-size: 33px;
	}
	.step-block{
		margin: 20px 0 0 0;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.step-itm:first-child, .step-itm:nth-child(2){
		margin: 0;
	}
	.name-step{
		font-size: 22px;
	}
}